extends layout

block content
    include navbar
    include modals/alert
    include modals/confirm

    #townlist
        #table.card.card-body.bg-light
            p
                a(href="/towns") Town List
                | &nbsp;&raquo;&nbsp;
                a(href="/towndetail/" + townName) Town: #{townName}
                | &nbsp;&raquo;&nbsp;
                | PlotList
            hr
            h1 Plots in Town [#{townName}]

            table(class="blueTable")
                thead
                    th Plot Name
                    th Dimension ID
                    th Plot Start
                    th Plot End
                    th Plot Members
                    th &nbsp;

                tbody
                for tPlot in plotList
                    tr
                        td #{tPlot.plotName}
                        td #{tPlot.plotDIM}
                        td #{tPlot.plotStart}
                        td #{tPlot.plotEnd}
                        td #{tPlot.memberCount}
                        td
                            a(href='/plotflags/' + townName + '/' + tPlot.plotID) Flags
                            |&nbsp;|&nbsp;
                            a(href='/plotmembers/' + townName + '/' + tPlot.plotID) Member

block scripts
    script(src='/js/views/plotlist.js')
    script(src='/js/controllers/navbarController.js')