extends layout

block content
    include navbar
    include modals/alert
    include modals/confirm

    #townlist
        #table.card.card-body.bg-light
            h1 Town-Details

            table(class="blueTable")
                tbody
                    if town.isAdminTown
                        tr
                            td(colspan="2")
                                b This is an Admin-Town
                    tr
                        td Town Name
                        td #{town.TownName}
                    tr
                        td
                            a(href='/blocklist/' + town.TownName) Claimed Chunks
                        td #{town.numTownBlocks}
                    tr
                        td Town Spawn (DimensionID, X, Y, Z)
                        td #{town.spawnDimension}
                    tr
                        td
                            a(href='/memberlist/' + town.TownName) Total Members
                        td #{town.totalTownMembers}
                    tr
                        td Town Mayor
                        td #{town.townMayor}
                    tr
                        td(colspan="2")
                            a(href='/townflags/' + town.TownName) Show Town Flags


block scripts
    script(src='/js/views/towndetail.js')
    script(src='/js/controllers/navbarController.js')